@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:wght@100;200;300;400;500&display=swap');

@font-face {
    font-family: 'bootleregular';
    src: url('../font/bootle-4b9l-webfont.woff2') format('woff2'),
         url('../font/bootle-4b9l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'Barlow'; 
}

html{
	font-size: 100%;
}

h1{
	font-size: 3rem;
	font-family: 'bootleregular';
	color: black;
	text-align: center;
	text-shadow: 1.5px 1.5px 1.5px white,
				1.5px 1.5px 1.5px white;
}

h5{
	font-size: 1rem;
	font-family: 'Anton';
	color: #9F1515;
	text-align: center;
	text-shadow: 1.5px 1.5px 1.5px white,
				1.5px 1.5px 1.5px white;
}

p{
	color: lightgray;
	text-align: center;
	border: double 1rem #353535;
	background-color: black;
	width: 60%;
	margin-left: 25rem;
	font-size: 1.5rem;
	box-sizing: border-box;
}

nav{
	background-color: #e5e5f7;
opacity: 1;
background: linear-gradient(135deg, #414141 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #2a2a2a 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, brown 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, black 25%, #525252 25%) 0px 0/ 20px 20px;
	background-size: 50px 50px;
	background-attachment: fixed;
	top: 0;
	left: 0;
	position: sticky;
	display: flex;
	justify-content: space-between;
}
	nav ul{
		display: flex;
	}

		nav ul li{
			margin: 2rem;
			list-style: none;		
		}

			nav ul li a{
				font-size: 160%;
				color: white;
				text-decoration: none;
				font-family: 'Anton';
				text-shadow: 2px 2px 2px black,
							2px 2px 2px gray;
			}

			nav ul li a:hover{
				color: white;
				font-weight: 600;
			}

footer{
	display: flex;
	justify-content: space-between;
}

.encabezado__img{
	width: 8rem;
}

.BgOscuro{
	background-color: #e5e5f7;
opacity: 1;
background: linear-gradient(135deg, #414141 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #2a2a2a 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, brown 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, black 25%, #525252 25%) 0px 0/ 20px 20px;
	background-size: 50px 50px;
	background-attachment: fixed;
	padding: 1rem;
}

.main__section{
	display: flex;
	justify-content: space-evenly;
}

.main__img1{
	border: none;
	background-color: #e5e5f7;
opacity: 1;
background: linear-gradient(-135deg, #414141 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(-225deg, #2a2a2a 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(-315deg, brown 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(-45deg, black 25%, #525252 25%) 0px 0/ 20px 20px;
	background-size: 50px 50px;
	background-attachment: fixed;
	padding: 2rem;	
}

.main__img2{
	border: inset 2px lightgray;
	background-color: #1A1818;
	padding: 2rem;
	margin-left: 40rem;
}

.main__img3{
	border: inset 2px lightgray;
	background-color: #1A1818;
	padding: 2rem;
	margin-left: 41.5rem;
}

.main__img4{
	border: inset 2px lightgray;
	background-color: #1A1818;
	padding: 2rem;
	margin-left: 40rem;
}

.main__img5{
	border: inset 2px lightgray;
	background-color: #1A1818;
	padding: 2rem;
	margin-left: 40rem;
}

.pie__color{
	background-color: black;
	padding: 2rem;
	margin-top: 3rem;
}