@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: 'bootleregular';
    src: url('../font/bootle-4b9l-webfont.woff2') format('woff2'),
         url('../font/bootle-4b9l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
	font-size: 100%;
}

body{
	background-color: #e5e5f7;
opacity: 1;
background-size: 50px 50px;
background-image: repeating-linear-gradient(45deg, #414141 0, brown 1px, #2a2a2a 0, black 50%);
	background-attachment: fixed;
	padding: 1rem;
}

h1{
	color: #ADADAD;
	text-align: center;
	font-size: 500%;
	text-shadow: 10px 10px 10px black,
				20px	20px 10px black;
	font-family: 'bootleregular';			
}

h2{
	color: #969696;
	text-align: center;
	font-size: 150%;
	text-shadow: 10px 10px 10px black,
				20px	20px 10px black;
	font-family: 'bootleregular';
}

.main_nav{
	background-color: #e5e5f7;
	opacity: 1;
	background-size: 50px 50px;
	background-image: repeating-linear-gradient(45deg, #414141 0, brown 1px, #2a2a2a 0, black 50%);
	background-attachment: fixed;
	top: 0;
	left: 0;
	position: static;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	.main_nav ul{
			display: flex;
		}	

		.main_nav ul li{
				margin: 1rem;
				list-style: none;		
			}

			.main_nav ul li a{
					font-size: 90%;
					color: white;
					text-decoration: none;
					font-family: 'Anton';
					background-image: linear-gradient(currentColor, currentColor);
   				background-position: 0% 100%;
    			background-repeat: no-repeat;
    			background-size: 0% 2px;
    			transition: background-size .3s;
				}

			.main_nav ul li a:hover{
					color: white;
					font-weight: 500;
					background-size: 100% 2px;
				}	

.header__img section{
	display: flex;
	flex-direction: column;
	align-items: center;
	}			

.gifs{
	border: inset 3px #2A2A2A;
}

.section__map iframe{
	border: 6px inset #db2151;
	margin-top: 2rem;
	width: 97%;
}
	.section__map h2{
		margin-top: 5rem;
	}

.section__yt iframe{
	margin-top: 2rem;
	width: 100%;
}
	.section__yt h2{
		margin-top: 5rem;
	}

.pie{
	border: none;
	background-color: black;
	padding: 3rem;
	margin-top: 3rem;
	display: flex;
	justify-content: space-around;
}

.pie__icon--sm{
	width: 50px;
}

.contenedor{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-columns: auto;
	grid-template-areas:
	"nav"
	"header"
	"map"
	"yt"
	"pie"
}

#nav{
	grid-area: nav;
}

#header{
	grid-area: header;
}

#map{
	grid-area: map;
}

#yt{
	grid-area: yt;
}

#footer{
	grid-area: pie;
}

/* ==================768PX===================== */

@media (min-width: 768px){
	.contenedor{
	display: grid;
	grid-template-columns: 2fr;
	grid-template-columns: auto;
	grid-template-areas:
	"nav nav"
	"header header"
	"map yt"
	"pie pie"
	}

	.section__map iframe{
	border: 6px inset #db2151;
	}


	.section__yt iframe{
		border: 6px inset #db2151;
		}
		
}

/* ==================1200PX===================== */

@media (min-width: 1200px){
	.main_nav{
	background-color: #e5e5f7;
	opacity: 1;
	background-size: 50px 50px;
	background-image: repeating-linear-gradient(45deg, #414141 0, brown 1px, #2a2a2a 0, black 50%);
	background-attachment: fixed;
	top: 0;
	left: 0;
	position: static;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

	.main_nav ul{
			display: flex;
		}	

		.main_nav ul li{
				margin: 2rem;
				list-style: none;		
			}

			.main_nav ul li a{
					font-size: 160%;
				}

			.main_nav ul li a:hover{
					color: white;
					font-weight: 600;
				}

	.header__img section{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	}			

}